<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wangzifeng.musicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="cn.wangzifeng.musicplayer.app.PlaySongApplication"
        android:allowBackup="true"
        android:icon="@drawable/plplayer"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="cn.wangzifeng.musicplayer.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="cn.wangzifeng.musicplayer.service.PlaySongService" >
        </service>

        <activity
            android:name="cn.wangzifeng.musicplayer.activity.SecondMainActivity"
            android:label="@string/title_activity_second_main" >
        </activity>
        <activity
            android:name="cn.wangzifeng.musicplayer.activity.PlayOneSongActivity"
            android:label="@string/title_activity_play_one_song" >
        </activity>
        <service android:name="cn.wangzifeng.musicplayer.service.DownLoadSongServiece"></service>
    </application>

</manifest>
